.task {
  border: 1px solid #f0f0f0;
  background: rgba(white, 0.8);
  padding: 1em;
  line-height: 1.5;
  font-size: 0.9em;
  position: relative;
  &:before {
    content: '';
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
  }
}

.high:before {
  background: red;
}

.low:before {
  background: green;
}

.title {
  text-align: left;
  flex: 1;
  /*&.completed {
    font-weight: bold;
  }*/
}

.completion {
  margin-top: 1em;
  font-size: 0.9em;
  color: #589aca;
}

.buttons {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  button {
    width: 3em;
    height: 3em;
    margin-left: 2px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}