.task {
  margin: 1em 0;
  border: 1px solid #f0f0f0;
  padding: 1em;
  line-height: 1.5;
  font-size: 0.9em;
  position: relative;
  display: flex;
  &:before {
    content: '';
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
  }
}

.high:before {
  background: red;
}

.low:before {
  background: green;
}

.title {
  text-align: left;
  flex: 1;
  &.completed {
    text-decoration: line-through;
  }
}

.buttons {
  margin-left: 1em;
  button {
    width: 3em;
    height: 3em;
    margin-bottom: 2px;
    &:last-child {
      margin-bottom: 0;
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}