.topbar {
  position: fixed;
  backface-visibility: hidden;
  background: rgb(255, 72, 0);
  width: 100%;
  padding: 2em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-out;

  &.guest {
    background: #589aca;
  }
}

.small {
  padding: 1em 1.5em;
}

.user {
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 0.5em;
  }
}
.username {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  color: white;
}
.usercount {
  color: white;
  font-size: 0.9em;
}

.controls {
  display: flex;
  align-items: center;
  button {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}