$blue: #589aca;

.modal {
  box-shadow: 16px 16px 38px rgba(black, 0.2);
  padding: 5em 6em 4em;
  max-width: 540px;
  width: calc(80% - 12em);
  position: fixed;
  backface-visibility: hidden;
  top: 50%;
  left: 50%;
  background: white;
  z-index: 101;
  border-top: 3px solid $blue;
  text-align: center;
  transform: translate(-50%, -55%) scale(0.75);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  h2 {
    margin: 0 0 2em;
  }
}

.entered {
  opacity: 1;
  transform: translate(-50%, -55%) scale(1);
}

.question {
  font-size: 1.1em;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;

  button {
    transition: color 0.3s ease-out;
    font-size: 1.1em;
    span {
      margin-right: 0.5em;
    }
    &.yes {
      color: green;
      &:hover {
        color: darken(green, 15%)
      }
    }
    &.no {
      color: red;
      &:hover {
        color: darken(red, 15%)
      }
    }
  }
}