$red: rgb(255, 72, 0);

.authForm {
  margin: 2em 0;
  max-width: 300px;

  button {
    margin-top: 1em;
  }
}

.formRow {
  text-align: left;
  margin: 0 0 1em;
  
  p {
    color: $red;
    margin: 5px 0;
    font-size: 0.9em;
  }

  input, select, textarea {
    font-size: 1em;
    padding: 0.5em;
    display: block;
    width: 100%;
    transition: background 0.3s ease-out;
    border: 1px solid #ccc;
    font-family: 'Raleway', sans-serif;
    &:focus {
      background: #f8f8f8;
    }
  }

  textarea {
    line-height: 1.5;
    resize: none;
    height: 6em;
  }

  label {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
    &.checkboxLabel {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      overflow: visible;
      clip: none;
      position: relative;
      cursor: pointer;
      backface-visibility: hidden;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -23px;
        width: 16px;
        height: 16px;
        border: 1px solid #999;
        border-radius: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: -20px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #999;
        transform: scale(0);
        transition: transform 0.3s ease-out;
      }
    }
  }

  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0 0.6em 0 0;
    opacity: 0;
  }

  input[type="checkbox"]:checked + label:after {
    transform: scale(1);
  }
}

.formError {
  color: $red;
}

.dropdownPlaceholder {
  text-transform: capitalize;
  color: black;
}

.centered {
  text-align: center;
}