.formRow {
  text-align: left;
  margin: 0 0 1em;
  
  p {
    color: rgb(255, 72, 0);
    margin: 5px 0;
    font-size: 0.9em;
  }

  input, select {
    font-size: 1em;
    padding: 0.5em;
    display: block;
    width: 100%;
    transition: background 0.3s ease-out;
    border: 1px solid #ccc;
    &:focus {
      background: #e4e4e4;
    }
  }

  label {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }
}