.sidebar {
  position: fixed;
  backface-visibility: hidden;
  width: 10em;
  height: 100vh;
  background: #f0f0f0;
  margin-top: 7.7em;
  transition: all 0.3s ease-out;
}

.high {
  margin-top: 5.7em;
}

.heading {
  padding: 1em 1.5em;
  background: #ccc;
  font-weight: 600;
  color: #5a5a5a;
}