.popup {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(white, 0.8);
  z-index: 101;
}

.wrapper {
  box-shadow: 16px 16px 38px rgba(black, 0.2);
  padding: 5em 6em 4em;
  max-width: 540px;
  width: calc(80% - 12em);
  position: fixed;
  backface-visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background: white;
  z-index: 101;
}

.question {
  font-size: 1.1em;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;

  button {
    transition: color 0.3s ease-out;
    font-size: 1.1em;
    span {
      margin-right: 0.5em;
    }
    &.yes {
      color: green;
      &:hover {
        color: darken(green, 15%)
      }
    }
    &.no {
      color: red;
      &:hover {
        color: darken(red, 15%)
      }
    }
  }
}