@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

html, body {
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}

/* Other general styles */
a {
  text-decoration: none;
  transition: color 0.3s ease-out;
}

main {
  padding: 6em 0 0 10em;
  min-height: 100vh;
}